<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%=pageTitle%></title>
    <link rel='stylesheet' href='../assets/home&profile/font-awesome.min.css' />
    <link rel="stylesheet" href="../assets/home&profile/bootstrap.min.css">
    <link rel="stylesheet" href="/_includes/_generalCss/body.css">
    <link rel="stylesheet" href="/_includes/_generalCss/colors.css">
    <link rel="stylesheet" href="/_includes/Navbar/css/navStyle.css">
    <link rel="stylesheet" href="/_includes/Theme Block/css/blockStyle.css">
    <link rel="stylesheet" href="/_includes/Theme Block/themes/red-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700'>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->


</head>

<body>
    <!-- start Navbar -->
    <%-include('../_includes/Navbar/homeNav.ejs')%>
    <!----------------------------- END Navbar!!! -------------------------------------->


    <div class="profile-background"></div>

    <div class="container">

        <div class="profile-content personal-info ">

            <div class="container">
                <div class="under-line">
                    <div class="row mb-2">
                        <div class="col-md-6 ml-auto mr-auto text-center">
                            <div class="text-center">
                                <form #Account-details action="">
                                    <div id="imagePreview" class="Avatar">
                                        <img class="image-preview__image" src="" alt="<%= handcraft.name %>">
                                        <span class="image-preview__defult-text">Add Picture</span>
                                        <div class="ChangePic">
                                            <input id="addPic" type="file" accept="image/*" hidden>

                                            <label for="addPic">
                                                <svg aria-hidden='true' style='width: 20px; height: 20px;'
                                                    focusable='false' data-prefix='far' data-icon='images' role='img'
                                                    viewBox='0 0 576 512'
                                                    class='svg-inline--fa fa-images fa-w-18 fa-2x'>
                                                    <path fill='currentColor'
                                                        d='M480 416v16c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V176c0-26.51 21.49-48 48-48h16v48H54a6 6 0 0 0-6 6v244a6 6 0 0 0 6 6h372a6 6 0 0 0 6-6v-10h48zm42-336H150a6 6 0 0 0-6 6v244a6 6 0 0 0 6 6h372a6 6 0 0 0 6-6V86a6 6 0 0 0-6-6zm6-48c26.51 0 48 21.49 48 48v256c0 26.51-21.49 48-48 48H144c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h384zM264 144c0 22.091-17.909 40-40 40s-40-17.909-40-40 17.909-40 40-40 40 17.909 40 40zm-72 96l39.515-39.515c4.686-4.686 12.284-4.686 16.971 0L288 240l103.515-103.515c4.686-4.686 12.284-4.686 16.971 0L480 208v80H192v-48z'>
                                                    </path>
                                                </svg> Change
                                            </label>
                                        </div>
                                    </div>
                                    <div class="profile-name">
                                        <h2 class="title">
                                            <input type="text" name="handiName" value="<%= handcraft.name %>"
                                                maxlength="15" disabled>
                                        </h2>
                                        <input type="text" name="profDesc" value="Designer" maxlength="20" disabled>
                                    </div>
                                    <div class="account-details">

                                        <ul class="list-group list-group-horizontal">
                                            <li class="">
                                                <p>Posts</p>
                                                <input type="text" name="postsNo" value="<%= prods.length%>" disabled>
                                            </li>
                                            <li class="">
                                                <p>Follwers</p>

                                            </li>
                                            <li class="">
                                                <p>Requests</p>
                                                <input type="text" name="reqNo" value="567" disabled>
                                            </li>
                                        </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a id="addProduct" href='/profile/addProduct'>
                <span class="font-weight-bold mr-1"> Add Product</span>
                <svg style="width:20px; height:20px;" viewBox="0 0 576 512">
                    <path fill="currentColor"
                        d="M159.88,175.82h64v64a16,16,0,0,0,16,16h64a16,16,0,0,0,16-16v-64h64a16,16,0,0,0,16-16v-64a16,16,0,0,0-16-16h-64v-64a16,16,0,0,0-16-16h-64a16,16,0,0,0-16,16v64h-64a16,16,0,0,0-16,16v64A16,16,0,0,0,159.88,175.82ZM568.07,336.13a39.91,39.91,0,0,0-55.93-8.47L392.47,415.84H271.86a16,16,0,0,1,0-32H350.1c16,0,30.75-10.87,33.37-26.61a32.06,32.06,0,0,0-31.62-37.38h-160a117.7,117.7,0,0,0-74.12,26.25l-46.5,37.74H15.87a16.11,16.11,0,0,0-16,16v96a16.11,16.11,0,0,0,16,16h347a104.8,104.8,0,0,0,61.7-20.27L559.6,392A40,40,0,0,0,568.07,336.13Z">
                    </path>
                </svg>
            </a>
        </div>
    </div>

    <div class="profile-body container">
        <div class="row">
            <div class=" ml-1 col-md-4 col-sm-12 col-xs-12">
                <!-- --------------- Sidbar-Information!!!---------------------->
                <div class="sidebar-info">
                    <ul class="list-group list-group-flush">
                        <form #SidBar-Info>

                            <li>
                                <button>
                                    <svg aria-hidden="true" style="width: 20px; height: 20px;" focusable="false"
                                        data-prefix="fas" data-icon="bars" role="img" viewBox="0 0 448 512"
                                        class="svg-inline--fa fa-bars fa-w-14 fa-2x">
                                        <path fill="currentColor"
                                            d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                                            class=""></path>
                                    </svg>

                                    Edit Profile</button>
                            </li>

                            <!-- <li>
                                <button type="submit" class="btn btn-primary">
                                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="save"
                                        role="img" viewBox="0 0 448 512" class="svg-inline--fa fa-save fa-w-14 fa-2x">
                                        <path fill="currentColor" d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 
                                            316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0
                                             48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM272 80v80H144V80h128zm122
                                              352H54a6 6 0 0 1-6-6V86a6 6 0 0 1 6-6h42v104c0 13.255 10.745 24 24 24h176c13.255 0 24-10.745 24-24V83.882l78.243 78.243a6 6 0 0
                                               1 1.757 4.243V426a6 6 0 0 1-6 6zM224 232c-48.523 0-88 39.477-88 88s39.477 88 88 88 88-39.477 88-88-39.477-88-88-88zm0 128c-22.056 
                                               0-40-17.944-40-40s17.944-40 40-40 40 17.944 40 40-17.944 40-40 40z"
                                               class=""></path>
                                            </svg>
                                            
                                            Save Changs</button>
                                        </li> -->
                                        
                                        
                            <li class="list-group-item">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="house" role="img"
                                    viewBox="0 0 576 512" class="svg-inline--fa fa-house fa-w-18 fa-2x">
                                    <path fill="currentColor"
                                        d="M570.69,236.27,512,184.44V48a16,16,0,0,0-16-16H432a16,16,0,0,0-16,16V99.67L314.76,10.3C308.48,4.61,296.51,0,288,0s-20.45,4.61-26.73,10.3l-256,226a16,16,0,0,0-1.2,22.6l21.4,23.8A18.31,18.31,0,0,0,37.42,288a18.51,18.51,0,0,0,10.69-4.11l15.9-14V480a32,32,0,0,0,32,32H480a32,32,0,0,0,32-32V269.87l15.91,14A18.62,18.62,0,0,0,538.63,288a18.12,18.12,0,0,0,11.87-5.31l21.41-23.81A18.61,18.61,0,0,0,576,248.18,18.21,18.21,0,0,0,570.69,236.27ZM352,298.66A21.39,21.39,0,0,1,330.64,320h-85.3A21.39,21.39,0,0,1,224,298.66V213.32A21.39,21.39,0,0,1,245.34,192h85.3A21.39,21.39,0,0,1,352,213.32Z"
                                        class=""></path>
                                </svg>
                                From: <input type="text" placeholder="where are you from?" value="Egypt" name="country"
                                    maxlength="20" disabled>
                            </li>

                            <li class="list-group-item">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search-location"
                                    role="img" viewBox="0 0 512 512"
                                    class="svg-inline--fa fa-search-location fa-w-16 fa-2x">
                                    <path fill="currentColor"
                                        d="M505.04 442.66l-99.71-99.69c-4.5-4.5-10.6-7-17-7h-16.3c27.6-35.3 44-79.69 44-127.99C416.03 93.09 322.92 0 208.02 0S0 93.09 0 207.98s93.11 207.98 208.02 207.98c48.3 0 92.71-16.4 128.01-44v16.3c0 6.4 2.5 12.5 7 17l99.71 99.69c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.59.1-33.99zm-297.02-90.7c-79.54 0-144-64.34-144-143.98 0-79.53 64.35-143.98 144-143.98 79.54 0 144 64.34 144 143.98 0 79.53-64.35 143.98-144 143.98zm.02-239.96c-40.78 0-73.84 33.05-73.84 73.83 0 32.96 48.26 93.05 66.75 114.86a9.24 9.24 0 0 0 14.18 0c18.49-21.81 66.75-81.89 66.75-114.86 0-40.78-33.06-73.83-73.84-73.83zm0 96c-13.26 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z"
                                        class=""></path>
                                </svg>
                                lives in: <input type="text" placeholder="where do you live?" value="Sharqiya"
                                    name="place" maxlength="20" disabled>
                            </li>
                            <li class="list-group-item">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="clock" role="img"
                                    viewBox="0 0 512 512" class="svg-inline--fa fa-clock fa-w-16 fa-2x">
                                    <path fill="currentColor"
                                        d="M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z"
                                        class=""></path>
                                </svg>
                                Joined at: <input type="text" value="25/2/2020" name="joinDate" disabled>
                            </li>
                            <li class="list-group-item">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" role="img"
                                    viewBox="0 0 512 512" class="svg-inline--fa fa-phone fa-w-16 fa-2x">
                                    <path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 
                                         112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112
                                         48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5
                                          464-464 0-11.2-7.7-20.9-18.6-23.4z"></path>
                                </svg>
                                Phone Number: <input type="text" name="followNo" value="0<%= handcraft.phone%>"
                                    disabled>
                            </li>
                        </form>
                        <li class="list-group-item">
                            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="wand-magic"
                                role="img" viewBox="0 0 512 512" class="svg-inline--fa fa-wand-magic fa-w-16 fa-2x">
                                <path fill="currentColor"
                                    d="M80 160l26.66-53.33L160 80l-53.33-26.67L80 0 53.33 53.33 0 80l53.33 26.67L80 160zm351.99 128l-26.66 53.33L351.99 368l53.33 26.67L431.99 448l26.66-53.33L511.98 368l-53.33-26.67L431.99 288zm-208-192l16-32 32-16-32-16-16-32-16 32-32 16 32 16 16 32zm208 96c8.84 0 16-7.16 16-16v-34.11L502.02 82c13.81-15.22 13.22-38.53-1.31-53.09l-17.66-17.63c-14.5-14.52-37.84-15.08-53-1.36L157.28 256H112c-8.84 0-16 7.16-16 16v39.28l-78.53 70.84-.06.05C6.72 391.86.38 405.69.04 420.12c-.37 14.44 5.28 28.58 15.5 38.81l37.53 37.52c9.87 9.92 23.5 15.55 37.5 15.55 22.17 0 35.57-13.37 39.28-17.47L402.78 192h29.21zM94.22 462.36c-.82.91-4.23 3.24-7.22.17l-37.53-37.52c-2.97-3.01-.73-6.44.16-7.27L455.49 51.61l4.91 4.88L94.22 462.36z"
                                    class=""></path>
                            </svg>
                            <span>Categories:</span>
                            <ul class="list-group list-group-flush ml-5">
                                <li class="list-group-item">Crochet</li>
                                <li class="list-group-item">Portrait</li>
                                <li class="list-group-item">Glass Painting</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>







            <div class=" col-md-7 col-sm-12 col-xs-12">
                <% if (user.id == handcraft.id){%>

                <% } %>
                <input id="userId" type="hidden" value="<%=user.id%>">
                <!----------------------Real Post!!!-------------------------------->

                <% if(prods.length > 0) { %>
                <div class="post-area">
                    <% for (let product of prods) { %>
                    <div class="post-body mb-5">
                        <div class="post">
                            <div id="carouselExampleControls" class="post carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="post-height carousel-item active">
                                        <img src="/<%= product.image %>" class="img-responsive">
                                    </div>
                                </div>
                                <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a> -->
                            </div>
                        </div>
                        <div class="post-info">
                            <div class="flex-grow-1 d-flex align-items-center">
                            <a href="/profile/<%=handcraft.id%>">
                                <img src="/<%=handcraft.image%>" alt="<%=handcraft.name%>">
                                <span><%= handcraft.name%></span>
                            </a>
                            </div>
                            <span class="type-item">
                                <svg width="15" height="12" fill="#FFF" viewBox="0 0 512 512">
                                    <path
                                        d="M80 160l26.66-53.33L160 80l-53.33-26.67L80 0 53.33 53.33 0 80l53.33 26.67L80 160zm351.99 128l-26.66 53.33L351.99 368l53.33 26.67L431.99 448l26.66-53.33L511.98 368l-53.33-26.67L431.99 288zm-208-192l16-32 32-16-32-16-16-32-16 32-32 16 32 16 16 32zm208 96c8.84 0 16-7.16 16-16v-34.11L502.02 82c13.81-15.22 13.22-38.53-1.31-53.09l-17.66-17.63c-14.5-14.52-37.84-15.08-53-1.36L157.28 256H112c-8.84 0-16 7.16-16 16v39.28l-78.53 70.84-.06.05C6.72 391.86.38 405.69.04 420.12c-.37 14.44 5.28 28.58 15.5 38.81l37.53 37.52c9.87 9.92 23.5 15.55 37.5 15.55 22.17 0 35.57-13.37 39.28-17.47L402.78 192h29.21zM94.22 462.36c-.82.91-4.23 3.24-7.22.17l-37.53-37.52c-2.97-3.01-.73-6.44.16-7.27L455.49 51.61l4.91 4.88L94.22 462.36z">
                                    </path>
                                </svg>
                                <%= product.type %>
                            </span>
                            <% if(user.id == product.userId) {%>
                            <a class="btn dropdown-toggle float-right" data-toggle="collapse"
                                href="#multiCollapseExample2" role="button" aria-expanded="false"
                                aria-controls="multiCollapseExample2">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" role="img"
                                    viewBox="0 0 576 512" class="svg-inline--fa fa-edit fa-w-18 fa-2x"
                                    style="width: 20px; height: 20px;">
                                    <path fill="currentColor"
                                        d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8
                                            10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0
                                            13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40
                                            0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5
                                            64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0
                                            48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"></path>
                                </svg>
                                Edit Post
                            </a>
                            <div class="collapse multi-collapse overflow-hidden" id="multiCollapseExample2">
                                <div class="card card-body float-right">
                                    <ul class="list-group list-group-horizontal">

                                        <li class="list-group-ite">

                                            <form action="/profile/deleteProduct" method="POST">
                                                <input type="hidden" value="<%= product.id %>" name="productId">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <button type="submit" class="btn btn-outline-danger mr-3">
                                                    <svg aria-hidden="true" style="width: 20px; height: 20px;"
                                                        focusable="false" data-prefix="fal" data-icon="trash-alt"
                                                        role="img" viewBox="0 0 448 512"
                                                        class="svg-inline--fa fa-trash-alt fa-w-14 fa-2x">
                                                        <path fill="currentColor"
                                                            d="M296 432h16a8 8 0 0 0 8-8V152a8 8 0 0 0-8-8h-16a8 8 0 0
                                                        0-8 8v272a8 8 0 0 0 8 8zm-160 0h16a8 8 0 0 0 8-8V152a8 8 0 0 0-8-8h-16a8 8 0 0 0-8 
                                                        8v272a8 8 0 0 0 8 8zM440 64H336l-33.6-44.8A48 48 0 0 0 264 0h-80a48 48 0 0 0-38.4 
                                                        19.2L112 64H8a8 8 0 0 0-8 8v16a8 8 0 0 0 8 8h24v368a48 48 0 0 0 48 48h288a48 48 0 0 0 
                                                        48-48V96h24a8 8 0 0 0 8-8V72a8 8 0 0 0-8-8zM171.2 38.4A16.1 16.1 0 0 1 184 32h80a16.1 
                                                        16.1 0 0 1 12.8 6.4L296 64H152zM384 464a16 16 0 0 1-16 16H80a16 16 0 0 1-16-16V96h320zm-168-32h16a8
                                                        8 0 0 0 8-8V152a8 8 0 0 0-8-8h-16a8 8 0 0 0-8 8v272a8 8 0 0 0 8 8z"></path>
                                                    </svg>
                                                    Delete</button>
                                            </form>
                                        </li>
                                        <li class="list-group-ite">

                                            <a href="/profile/editProduct/<%=product.id%>?edit=true">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    <svg aria-hidden="true" style="width: 20px; height: 20px;"
                                                        focusable="false" data-prefix="far" data-icon="edit" role="img"
                                                        viewBox="0 0 576 512" class="svg-inline--fa fa-edit fa-w-18
                                                        fa-2x">
                                                        <path fill="currentColor" d="M402.3 344.9l32-32c5-5
                                                        13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 
                                                        21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7
                                                            2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4
                                                            10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 
                                                            82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3
                                                            65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1
                                                            58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path>
                                                    </svg>
                                                    Edit</button>
                                            </a>

                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <% } %>
                        </div>

                        <div>
                            <p><%= product.describtion %></p>
                            <p>Product Price: <%= product.price %>$</p>
                        </div>

                        <div class="post-actions text-center">
                            <button type="button" class="btn btn-outline-success col-4  ">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img"
                                    style="width: 20px; height: 20px; margin-right:5px;" viewBox="0 0 448 512"
                                    class="svg-inline--fa fa-plus fa-w-14 fa-2x">
                                    <path fill="currentColor"
                                        d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                                        class=""></path>
                                </svg>
                                Request <span>(23)</span>
                            </button>

                            <button type="button" class="btn btn-outline-danger col-4  ">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img"
                                    style="width: 20px; height: 20px; margin-right:5px;" viewBox="0 0 512 512"
                                    class="svg-inline--fa fa-heart fa-w-16 fa-2x">
                                    <path fill="currentColor"
                                        d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"
                                        class=""></path>
                                </svg>
                                Love <span>(145)</span>
                            </button>

                        </div>

                    </div>

                    <% } %>
                </div>

                <% } else { %>
                <h1 class="ml-5">No Products Yet</h1>
                <% } %>



                <!-- <div class="post-area">
                        <div class="post-body">

                            This is some text within a card body.

                        </div>
                    </div> -->
            </div>
        </div>
    </div>

    </div>

    <!--Start Theme Block-->

    <%-include('../_includes/Theme Block/themeBlock.ejs')%>

    <!--End Theme Block-->

    <!-- Start Scroll To Top -->

    <div id="scroll-top">
        <i class="fa fa-chevron-up fa-3x"></i>
    </div>

    <!-- End Scroll To Top -->

    <script src="../assets/home&profile/js/jquery-3.3.1.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="/assets/home&profile/js/bootstrap.min.js"></script>
    <script src="../_includes/Theme Block/js/theme.js"></script>
    <script src="/profile/js/addProfilePic.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/sockets/init.js"></script>
    <% if (user.id !== handcraft.id){%>

    <% }%>
</body>

</html>