<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pageTitle</title>
    <link rel='stylesheet' href='/assets/home&profile/font-awesome.min.css' />
    <link rel="stylesheet" href="/assets/home&profile/bootstrap.min.css">
    <link rel="stylesheet" href="/_includes/_generalCss/body.css">
    <link rel="stylesheet" href="/_includes/_generalCss/colors.css">
    <link rel="stylesheet" href="/_includes/Navbar/css/navStyle.css">
    <link rel="stylesheet" href="/_includes/Theme Block/css/blockStyle.css">
    <link rel="stylesheet" href="/_includes/Theme Block/themes/red-theme.css">
    <link rel="stylesheet" href="../users/css/gridStyle.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700'>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->


</head>

<body>

    <%-include('../_includes/Navbar/homeNav.ejs')%>
    <!--end navbar-->

    <!-- <div class="profile-background"></div> -->

    <div class="home-content">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="grid flex-wrap">

                    <% for (handcraft of handcrafts) { %>
                    <article class="card Avatar">
                        <header class="card__header">
                            <h1 class="Avatar__title"><a href="/profile/<%=handcraft.id%>"><%= handcraft.name%></a></h1>
                        </header>
                        <div class="d-flex align-items-center justify-content-center card__image">
                            <img src="/<%=handcraft.image%>" alt="<%= handcraft.name%>">
                        </div>
                        <div class="card__content">


                            <ul class="list-group list-group-flush">

                                <li class="list-group-item"></li>


                                <li class="list-group-item">
                                    <svg aria-hidden="true" class="mr-1" style="width: 20px; height: 20px;"
                                        focusable="false" data-prefix="fas" data-icon="phone" role="img"
                                        viewBox="0 0 512 512" class="svg-inline--fa fa-phone fa-w-16 fa-2x">
                                        <path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 
                                         112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112
                                         48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5
                                          464-464 0-11.2-7.7-20.9-18.6-23.4z"></path>
                                    </svg>
                                    Phone Number: 0<%= handcraft.phone%>
                                </li>
                            </ul>

                        </div>

                    </article>




                    <% }%>


                </div>
            </div>
        </div>

        <!--Start Theme Block-->

        <%-include('../_includes/Theme Block/themeBlock.ejs')%>

        <!--End Theme Block-->

        <!-- Start Scroll To Top -->

        <div id="scroll-top">
            <i class="fa fa-chevron-up fa-3x"></i>
        </div>

        <!-- End Scroll To Top -->


        <script src="../assets/home&profile/js/jquery-3.3.1.min.js"></script>
        <script src="../assets/home&profile/js/bootstrap.min.js"></script>
        <script src="../_includes/Theme Block/js/theme.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="js/home.js"></script>
</body>

</html>